<h1>Here is what's on the Menu:</h1>

<h2>Order Up! Ready to Serve.</h2>

<ol>
	{{#each burgers}}
		{{#unless devoured}}
			<li>
				{{burger_name}}

				<form action="/{{ID}}?_method=PUT" method="POST">
					<input type="hidden" name="devoured" value="true">
					<button type="submit">Diggin In!</button>
				</form>

			
			</li>
		{{/unless}}	
	{{/each}}
</ol>

<h2>Burgers Devoured So Far:</h2>

<ol>
	{{#each burgers}}
		{{#if devoured}}
			<li>
				{{burger_name}}

				<form action="/{{ID}}?_method=PUT" method="POST">
					<input type="hidden" name="devoured" value="false">
					<button type="submit">Re-Order</button>
				</form>
			</li>
		{{/if}}
	{{/each}}	
</ol>

<h2>Order A New Burger</h2>

<form class="create-update-form" action="/" method="POST">
	

	<div class="form-group">
		<label for="menu">Let Me Know What To Cook For Yah Then Hit Submit!</label>
		<input type="text" id="menu" name="burger_name">
	</div>

	<button type="submit">Ready To Order</button>
</form>