<div class="container">
	<h1 class="welcomeM">Welcome To Eat-Da-Burger Joint!</h1>
	<div>
		<h2 id="askOrder">Order Up! Ready to Serve.</h2>
		<img class="burgerImg" src="http://aht.seriouseats.com/images/2011/12/20111207-burger-gift-wrap.jpg"/>
		<ol>
			{{#each burgers}}
				{{#unless devoured}}
					<li>
						{{burger_name}}

						<form action="/{{ID}}?_method=PUT" method="POST">
							<input type="hidden" name="devoured" value="true">
							<button type="submit" class="btn-success">Diggin In!</button>
						</form>			
					</li>
				{{/unless}}	
			{{/each}}
		</ol>
	</div>

	<div class="eaten">
		<h2>Burgers Devoured So Far:</h2>

		<ol>
			{{#each burgers}}
				{{#if devoured}}
					<li>
						{{burger_name}}

						<form action="/{{ID}}?_method=PUT" method="POST">
							<input type="hidden" name="devoured" value="false">
							<button type="submit" class="btn-primary">Re-Order</button>
						</form>
					</li>
				{{/if}}
			{{/each}}	
		</ol>
	</div>

	<div class="newOrder">
		<h2>Order A New Burger</h2>

		<form class="create-update-form" action="/" method="POST">
			

			<div class="form-group">
				<label for="menu">Let Me Know What To Cook For Yah Then Hit Submit!</label>
				<input type="text" id="menu" name="burger_name" width="100px" height="100px">
			</div>

			<button type="submit" class="btn-danger">Ready To Order</button>
		</form>
	</div>
</div>	