<div class="jumbotron">
<h1>Here's What's on the Menu:</h1>

<div>
	<h2 id="readyOrders">Order Up! Ready to Serve.</h2>
	<img src="http://aht.seriouseats.com/images/2011/12/20111207-burger-gift-wrap.jpg"/>
	<ol>
		{{#each burgers}}
			{{#unless devoured}}
				<li>
					{{burger_name}}

					<form action="/{{ID}}?_method=PUT" method="POST">
						<input type="hidden" name="devoured" value="true">
						<button type="submit">Diggin In!</button>
					</form>			
				</li>
			{{/unless}}	
		{{/each}}
	</ol>
</div>

<div class="eaten">
	<h2>Burgers Devoured So Far:</h2>

	<ol>
		{{#each burgers}}
			{{#if devoured}}
				<li>
					{{burger_name}}

					<form action="/{{ID}}?_method=PUT" method="POST">
						<input type="hidden" name="devoured" value="false">
						<button type="submit">Re-Order</button>
					</form>
				</li>
			{{/if}}
		{{/each}}	
	</ol>
</div>

<div class="eaten">
	<h2>Order A New Burger</h2>

	<form class="create-update-form" action="/" method="POST">
		

		<div class="form-group">
			<label for="menu">Let Me Know What To Cook For Yah Then Hit Submit!</label>
			<input type="text" id="menu" name="burger_name" width="100px" height="100px">
		</div>

		<button type="submit">Ready To Order</button>
	</form>
</div>