* {
	box-sizing: border-box;
}

body {
	background-image: url("/assets/images/food.png");
}

.burgerImg {
	width: 300px;
	height: 300px;
	margin: auto;
}

.welcomeM {
	font-family: 'VT323', monospace;
	text-align: center;
}

.askOrder {
	font-family: 'VT323', monospace;
}

.mealT {
	font-family: 'Architects Daughter', cursive;
}

