* {
	box-sizing: border-box;
}

body {
	background-image: url("../assets/images/food.png");
	background-repeat: no-repeat;
}

#readyOrders {
	text-align: left;
	font-size: 35px;
}

.eaten {
	text-align: left;
	font-size: 25px;
	margin-right: 10px;
}

